*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
}
header{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    display: grid;
    gap: 10px;
    height: 15vh;
}
.blue{
    grid-column: 1 / 4;
    background-color: rgb(56,200,253);
}
.orange{
    grid-column: 4 / 13;
    background-color: rgb(254,175,72);
}

main{
    grid-column: 1 / 13;
    grid-row: 2 / 7;
    display: grid;
    gap: 10px;
    height: calc(85vh - 30px);
}
.redContainer{
    grid-column: 1 / 13;
    grid-row: 1 / 4;
}
.red{
    background-color: rgb(255,119,71);
    height: 100%;
}
.yellowContainer{
    grid-column: 1 / 13;
    grid-row: 4 / 6;
    display: grid;
    gap: 10px;
}
.yellow{
    background-color: rgb(255,214,72);
}
#uno{
    grid-column: 1 / 5;
}
#dos{
    grid-column: 5 / 9;
}
#tres{
    grid-column: 9 / 13;
}

footer{
    grid-column: 1 / 13;
}
.purple{
    background-color: rgb(253,193,255);
    height: 150px;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    body{
        grid-template-rows: repeat(7, 1fr);
    }
    header, main, footer{
        height: unset;
    }
    footer{
        grid-row: 7 / 8;
    }
}

/*Mobile*/
@media only screen and (max-width: 425px) {
    header{
        height: 15vh;
    }
    main{
        height: calc(85vh - 30px);
    }
    footer{
        height: 150px;
    }
    #uno,#dos, #tres{
        grid-column: 1 / 13;
    }
}